@charset "UTF-8";
/* CSS Document */
.topnav {
  background-color: #87D4F2;
  overflow: hidden;
  text-align: center;
}


.topnav a {
  float: none;
  color: #000000;
  line-height: 40px;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}


.topnav a:hover {
  background-color: #8ABDD8;
  color: black;
}


.topnav a.active {
  background-color: #0584AC;
  color: white;
}
